appdirs==1.4.3
arrow==0.10.0
autopep8==1.2.4
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.3
bs4==0.0.1
Cartopy==0.14.2
chardet==2.3.0
click==6.2
cloud-init==0.7.9
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
cycler==0.10.0
Cython==0.25.2
decorator==4.1.2
entrypoints==0.2.3
fastxml==2.0.0
flake8==2.6.2
future==0.16.0
html5lib==0.9999999
idna==2.0
importmagic==0.1.7
ipykernel==4.6.1
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
jedi==0.11.0
Jinja2==2.9.6
joblib==0.10.3
jsonpatch==1.10
jsonpointer==1.9
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
language-selector==0.1
line-profiler==2.0
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.5.0
memory-profiler==0.43
mistune==0.7.4
mpld3==0.3
nbconvert==5.3.1
nbformat==4.4.0
network==0.1
networkx==1.11
nose==1.3.7
notebook==5.1.0
numpy==1.13.1
oauthlib==1.0.3
olefile==0.44
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.2
parso==0.1.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pkg-resources==0.0.0
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.4.0
psutil==5.2.0
ptyprocess==0.5.2
py==1.4.32
pyasn1==0.1.9
pycodestyle==2.0.0
pycurl==7.43.0
pyflakes==1.2.3
Pygments==2.7.4
pygobject==3.20.0
pygraphviz==1.3.1
PyJWT==1.3.0
pyparsing==2.2.0
pyserial==3.0.1
pyshp==1.2.11
pytest==3.0.6
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.27
python-systemd==231
pytz==2017.2
PyYAML==3.11
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.9.1
rope==0.10.3
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.8.1
Shapely==1.5.17.post1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
slack-cleaner==0.3.0
slacker==0.9.30
ssh-import-id==5.5
tensorflow==1.3.0
tensorflow-tensorboard==0.1.6
terminado==0.6
testpath==0.3.1
tflearn==0.3.2
tornado==4.5.2
tqdm==4.10.0
traitlets==4.3.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.3
yapf==0.11.0
